[Unit]
Description="ServerInfo RESTAPI Service"

[Service]
ExecStart=/usr/bin/node /opt/serverinfo_restapi/app.js
Restart=always
User=nobody
Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/opt/serverinfo_restapi

[Install]
WantedBy=multi-user.target
